cryptography
fastapi
fitz
pandas
pymongo
PyMuPDF
python-dotenv
requests
s3transfer
SQLAlchemy
urllib3
passlib
uvicorn
alembic
langchain==0.2.14
psycopg2-binary
sqlalchemy==2.0.36
python-jose==3.3.0
python-multipart
boto3
langchain-groq==0.1.5
numpy
scipy
sentencepiece
bestrag==0.3.2
PyPDF2
pymongo
scikit-learn